body { background: #6a91ed; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 22px; display: flex; }
.block-payment-0 { color: #761ab6; font-size: 15px; margin-bottom: 5px; }
.block-search-1 { color: #2cded2; font-size: 19px; margin-bottom: 5px; }
.block-search-2 { color: #7794eb; font-size: 19px; margin-bottom: 5px; }
.block-user-3 { color: #a398c3; font-size: 16px; margin-bottom: 5px; }
.block-metrics-4 { color: #bc3554; font-size: 21px; margin-bottom: 5px; }